/*body {*/
/*  font-family: "Segoe UI", sans-serif;*/
/*  margin: auto;*/
/*  !*max-width: 1280px;*!*/
/*}*/

/*p:hover {*/
/*  color: #000000;*/
/*}*/

/*Text soll nicht unterstrichen werden bei Mausdrüber/Hover*/
a:hover {
  text-decoration: none;
}

.effekta {
  opacity: 0.5;
}

.effekta:hover {
  opacity: 1;
  transition: 1s;
}

/*h2 {*/
/*    background-image: url("../scrumming.webp");*/
/*    background-height:50px;*/
/*    height: 150px;*/
/*}*/

.box {
  background-color: black;
  opacity: 0.5;
  position: relative;
  display: flex;
  justify-content: center;
}

.box .text {
  position: absolute;
  z-index: 999;
  margin: auto auto;
  left: 0;
  right: 0;
  text-align: center;
  top: auto; /* Adjust this value to move the positioned div up and down */
  bottom: calc( 2em);
  background: rgba(0, 0, 0, 0.8);
  font-family: Arial, sans-serif;
  color: #fff;

  /*width: 100%; !* Set the width of the positioned div *!*/
}

.flyinguwe:hover {
  /*width: 100px;*/
  /*height: 100px;*/
  /*background-color: red;*/
  /*position: relative;*/
  position: absolute;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 1.5s;
  /*animation-direction: reverse;*/

  /*sorgt dafür dass es am ende stehen bleibt*/
  animation-fill-mode: forwards;
  /*animation-iteration-count: 1;*/
}

.imbild {
  position: absolute;
  z-index: 999;
  /*margin: auto auto;*/
  left: 15px;
  right: 15px;
  text-align: center;
  top: 20%; /* Adjust this value to move the positioned div up and down */

  background: rgba(0, 0, 0, 0.31);
  font-family: Arial, sans-serif;
  color: #fff;

}

.zoom:hover {
  transform: scale(1.05);
}

.hintergrund {
  width: 100%;
  /*position: static;*/
  /*position: fixed;*/
}



/* Standard syntax */
@keyframes example {
  0% {
    left: 15px;
    top: 20%;
  }

  100% {
    left: 15px;
    top: 0;
  }
}